/* Write your CSS here */
li {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
img {
  width: 100px;
}
h1 {
  color: #ff8542;
  font-family: roboto;
}
p{
  font-family:roboto;
  font-size:20px;
}
button {
  background: none;
  color: #ff0b37;
  border-color: #ff0b37;
  border-radius: 5px;
  width: 80px;
}
