/* Write your CSS here */
body {
  background-color: #ffc2a0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  min-height: 100vh;
}
ul {
  background-color: white;
  padding: 20px;
  width:60vw;
  border-radius: 10px;
}
